@model app.Models.Sprava.ObjednavkaModel

@{
    ViewBag.Title = "Objednávka";
}

<div class="container-md pt-5">
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column" style="min-width: 20em;">
            <h4>Shrnutí</h4>
            <p>
                <span class="fw-bold">Termín:</span> @Model.Termin.Od - @Model.Termin.Od <br>
                <span class="fw-bold">Pojištění:</span> @Model.Pojisteni.Nazev <br>
                <span class="fw-bold">Pokoj:</span> @Model.Pokoj.Nazev <br>
                <span class="fw-bold">Celková cena:</span> <br>
                <span class="fw-bold fs-4">@Model.Platba.Castka Kč</span> <br>
                <a class="nav-link text-primary fw-bold fs-4" asp-controller="Zajezdy" asp-action="ById" asp-route-id="@Model.Zajezd.ZajezdId">ZÁJEZD</a>
            </p>
        </div>
        <div>
            @if (!Model.Platba.Zaplacena)
            {
                <vc:objednavka-platba platba-id="@Model.Platba.PlatbaId"/>
            }
            else
            {
                <p class="text-success fw-bold fs-4">ZAPLACENA</p>
            }
        </div>
    </div>
    <div class="d-flex flex-column mt-5">
        <h4 class="d-flex justify-content-center">Údaje dalších účastníků</h4>
        @if (Model.Osoby.Length == 0)
        {
            <p class="text-center">Zájezd je pouze pro 1 osobu</p>
        }
        <div class="d-flex gap-5 justify-content-center">
            @foreach (var item in Model.Osoby)
            {
                <p>
                    <span class="fw-bold">Jméno:</span> @item.Jmeno <br>
                    <span class="fw-bold">Příjmení:</span> @item.Prijmeni <br>
                    <span class="fw-bold">Datum narození:</span> @item.DatumNarozeni
                </p>
            }
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
        @if (!Model.Platba.Zaplacena)
        {
            <form id="delete-form" asp-action="ObjednavkaDelete" asp-route-id="@Model.ObjednavkaId" method="post" enctype="application/x-www-form-urlencoded" class="w-100">
                <div class="form-group mt-3">
                    <input type="submit" value="Zrušit objednávku" class="btn btn-danger d-block mx-auto"/>
                </div>
            </form>
        }
        else
        {
            <p class="text-center">Objednávka je již zaplacena, pro <span class="text-danger">zrušení</span> nás kontaktujte.</p>
        }
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}