@model ZajezdNahledModel

<tr>
    <td>
        <a class="nav-link" asp-controller="Zajezdy" asp-action="ById" asp-route-id="@Model.Id">
            @Html.DisplayFor(model => model.Nazev)
        </a>
    </td>
    <td>
        @Html.DisplayFor(model => model.PocetHvezd)
    </td>
    <td>
        @Html.DisplayFor(model => model.Lokalita)
    </td>
    <td>
        @Html.DisplayFor(model => model.ZkracenyPopis)
    </td>
    <td>
        @Html.DisplayFor(model => model.Doprava)
    </td>
    <td>
        @Html.DisplayFor(model => model.Strava)
    </td>
    <td>
        @Html.DisplayFor(model => model.CenaZaOsobu)
    </td>
    <td>
        @Html.DisplayFor(model => model.CenaPredSlevou)
    </td>
    <td>
        <img src="/images/@Model.FotoId" alt="Fotka ubytování" width="300" height="200">
    </td>
</tr>