@using Microsoft.AspNetCore.Http.Extensions
@using app.Utils

@model dynamic

@{
    var uri = new Uri(Context.Request.GetDisplayUrl());
}

<ul class="pagination justify-content-center flex-wrap">
    <li class="page-item @(Model.Strana == 1 || Model.Strana > Model.MaxStrana ? "disabled" : "")">
        <a class="page-link fw-bold" href="@uri.SetQueryVal("strana", (int)Model.Strana-1)">Předešlá</a>
    </li>
    @for (var i = 1; i <= Model.MaxStrana; i++)
    {
        <li class="page-item @(Model.Strana == i ? "active" : "")">
            <a class="page-link" href="@uri.SetQueryVal("strana", i)">@i</a>
        </li>
    }
    <li class="page-item @(Model.Strana >= Model.MaxStrana ? "disabled" : "")">
        <a class="page-link fw-bold" href="@uri.SetQueryVal("strana", (int)Model.Strana+1)">Další</a>
    </li>
</ul>