@model IEnumerable<app.Models.ZajezdNahledModel>

@{
    ViewBag.Title = "Zajezdy";
}

<table class="table">
<thead>
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Nazev)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PocetHvezd)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Lokalita)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ZkracenyPopis)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Doprava)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Strava)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CenaZaOsobu)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CenaPredSlevou)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FotoId)
    </th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <vc:zajezd-nahled model="@item" />
}
</tbody>
</table>