@model IEnumerable<app.Models.Sprava.UbytovaniModel>

@{
    ViewBag.Title = "Ubytování";

    int strana = ViewBag.Strana;
    int maxStrana = ViewBag.MaxStrana;
    var nazev = Context.Request.Query["nazev"].ToString();
    var adresa = Context.Request.Query["adresa"].ToString();
    var pocetHvezd = Context.Request.Query["pocetHvezd"].FirstOrDefault();
}

<div class="container-md mt-3">
    <form asp-action="Ubytovani" method="get" enctype="application/x-www-form-urlencoded" class="w-100">
        <div class="d-flex justify-content-center gap-3">
            <div class="form-group">
                <label for="nazev" class="control-label">Název</label>
                <input id="nazev" name="nazev" type="text" value="@nazev" class="form-control">
            </div>
            <div class="form-group">
                <label for="pocetHvezd" class="control-label">Počet hvězd</label>
                <input id="pocetHvezd" name="pocetHvezd" type="number" min="3" max="5" value="@pocetHvezd" class="form-control">
            </div>
            <div class="form-group">
                <label for="adresa" class="control-label">Adresa</label>
                <input id="adresa" name="adresa" type="text" value="@adresa" class="form-control">
            </div>
            <div class="form-group mt-auto">
                <input type="submit" value="Hledat" class="btn btn-primary d-block mx-auto"/>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Název</th>
            <th scope="col">Počet hvězd</th>
            <th scope="col">Popis</th>
            <th scope="col">Adresa</th>
            <th scope="col">
                <a class="btn btn-primary" asp-action="UbytovaniEdit" asp-route-id="0">Přidat</a>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazev</td>
                <td>@item.PocetHvezd</td>
                <td>@item.Popis</td>
                <td>@item.Adresa.ToString()</td>
                <td>
                    <a asp-action="UbytovaniEdit" asp-route-id="@item.UbytovaniId">Upravit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <vc:pagination strana="@strana" max-strana="@maxStrana"/>
</div>