@using app.Models.Sprava
@using UbytovaniModel = app.Models.Sprava.UbytovaniModel

@model app.Models.Sprava.ZajezdModel?

@{
    ViewBag.Title = "Zájezd";
    var today = DateTime.Today;
    var todayDate = $"{today.Year}-{today.Month}-{today.Day}";
}

<div class="container d-flex flex-column justify-content-center pt-5">
    <form id="form" asp-action="ZajezdPost" method="post" enctype="application/x-www-form-urlencoded" class="w-100">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ZajezdId" type="hidden"/>
        <div class="d-flex flex-column justify-content-center flex-wrap gap-5">
            <div class="d-flex flex-column justify-content-center gap-3 flex-fill">
                <h4>@ViewBag.Title</h4>
                <div class="form-group">
                    <label asp-for="Ubytovani" class="control-label"></label>
                    <div class="d-flex justify-content-center">
                        <select asp-for="Ubytovani.UbytovaniId" onchange="changeUbytovani(this.value)" class="form-select" asp-items="new SelectList(ViewBag.Ubytovani, nameof(UbytovaniModel.UbytovaniId), nameof(UbytovaniModel.Nazev))">
                        </select>
                        <div class="d-flex ms-3">
                            <a id="ubytovani-otevrit" href="" target="_blank" class="m-auto d-block">Otevřít</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-3 justify-content-center w-100">
                    <div class="form-group flex-fill">
                        <label asp-for="CenaZaOsobu" class="control-label"></label>
                        <input type="number" asp-for="CenaZaOsobu" class="form-control"/>
                        <span asp-validation-for="CenaZaOsobu" class="text-danger"></span>
                    </div>
                    <div class="form-group flex-fill">
                        <label asp-for="SlevaProcent" class="control-label"></label>
                        <input asp-for="SlevaProcent" class="form-control"/>
                        <span asp-validation-for="SlevaProcent" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex gap-3 justify-content-center w-100">
                    <div class="form-group flex-fill">
                        <label asp-for="Strava" class="control-label"></label>
                        <select asp-for="Strava.StravaId" asp-items="new SelectList(ViewBag.Stravy, nameof(StravaModel.StravaId), nameof(StravaModel.Nazev))" class="form-select"></select>
                        <span asp-validation-for="Strava" class="text-danger"></span>
                    </div>
                    <div class="form-group flex-fill">
                        <label asp-for="Doprava" class="control-label"></label>
                        <select asp-for="Doprava.DopravaId" asp-items="new SelectList(ViewBag.Dopravy, nameof(DopravaModel.DopravaId), nameof(DopravaModel.Nazev))" class="form-select"></select>
                        <span asp-validation-for="Doprava" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Zobrazit" class="control-label"></label>
                    <input type="checkbox" asp-for="Zobrazit" checked="@(Model?.Zobrazit ?? true)" class="form-check-input"/>
                    <span asp-validation-for="Zobrazit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Popis" class="control-label"></label>
                    <textarea rows="5" asp-for="Popis" class="form-control"></textarea>
                    <span asp-validation-for="Popis" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center gap-3 flex-fill">
                <div class="d-flex gap-3">
                    <h4 class="d-block mb-0 mt-1">Termíny</h4>
                    <a class="btn btn-primary" onclick="pridatTermin()">Přidat</a>
                </div>
                <div id="terminy" class="d-flex flex-column">
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Potvrdit" class="btn btn-primary d-block mx-auto"/>
        </div>
    </form>
    @if (Model != null)
    {
        <form id="delete-form" asp-action="PolozkyDelete" asp-route-typPolozky="zajezd" asp-route-id="@Model.ZajezdId" method="post" enctype="application/x-www-form-urlencoded" class="w-100">
            <div class="form-group mt-3">
                <input type="submit" value="Smazat" class="btn btn-danger d-block mx-auto"/>
            </div>
        </form>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        const pokojeList = @Html.Raw(Json.Serialize(ViewBag.Pokoje))
        const terminyWrapper = document.querySelector('#terminy')
        @if (Model != null)
        {
            @Html.Raw("const terminy = " + Json.Serialize(Model.Terminy))
        }
        else
        {
            @Html.Raw("const terminy = []")
        }
        
        function changeUbytovani(value) {
            document.querySelector('#ubytovani-otevrit').href = '/sprava/ubytovani/' + value
        }
        
        function pridatTermin(terminId = "", datumOd = "@todayDate", datumDo = "@todayDate") {
            terminyWrapper.innerHTML += `
             <div class="termin-group">
                 <input type="hidden" class="termin-id" value="${terminId}">
                 <div class="d-flex gap-3">
                     <h5 class="d-block mb-0 mt-2">Datum</h5>
                     <a class="btn btn-danger" onclick="odebratEl(this.parentNode.parentNode)">Odebrat</a>
                 </div>
                 <div class="d-flex gap-3 flex-fill">
                     <div class="form-group">
                         <label for="" class="control-label">Od</label>
                         <input type="date" class="form-control datum-od" value="${datumOd}" data-val="true" data-val-required="Pepa" id="terminod">
                         <span class="text-danger field-validation-valid" data-valmsg-for="terminod" data-valmsg-replace="true"></span>
                     </div>
                     <div class="form-group">
                         <label for="" class="control-label">Do</label>
                         <input type="date" class="form-control datum-do" value="${datumDo}" data-val="true" data-val-required="true">
                     </div>
                 </div>
                 <div class="d-flex gap-3 mt-3">
                     <h5 class="d-block mb-0 mt-2">Pokoje</h5>
                     <a class="btn btn-primary" onclick="pridatPokoj(this.parentNode.parentNode)">Přidat</a>
                 </div>
                <div class="pokoje">
                </div>
                <hr>
             </div>
            `
        }
        
        function pridatPokoj(group, pokojId = "", celkovyPocet = "0", obsazenyPocet = "0") {
            const pokoje = group.querySelector('.pokoje')
            pokoje.innerHTML += `
                 <div class="d-flex gap-3 flex-fill pokoj-group mb-2">
                     <div class="form-group">
                         <label for="" class="control-label">Pokoj</label>
                         <select class="form-select pokoj-typ">
                             ${pokojOptions(pokojId)}
                         </select>
                     </div>
                     <div class="form-group">
                         <label for="" class="control-label">Celkový počet pokojů</label>
                         <input type="number" min="0" value="${celkovyPocet}" onkeyup="if(value<0) value=0;" class="form-control pokoj-celkovy-pocet">
                     </div>
                     <div class="form-group">
                         <label for="" class="control-label">Počet obsazených pokojů</label>
                         <input type="number" min="0" value="${obsazenyPocet}" onkeyup="if(value<0) value=0;" class="form-control pokoj-obsazeny-pocet">
                     </div>
                     <div class="d-flex">
                        <a class="btn btn-danger mt-auto d-block" onclick="odebratEl(this.parentNode.parentNode)">Odebrat</a>                     
                     </div>
                 </div>
            `
        }
        
        function pokojOptions(selected = "") {
            let options = ''
            
            pokojeList.forEach(pokoj => {
                options += `<option value="${pokoj.pokojId}" ${selected == pokoj.pokojId ? "selected" : ""}>${pokoj.nazev} - ${pokoj.pocetMist} osoby</option>`
            })
            
            return options
        }
        
        function odebratEl(el) {
            el.remove()
        }
        
        $('#form').on('submit', function(e) {
            const terminGroups = terminyWrapper.querySelectorAll('.termin-group')
            
            for(let i = 0; i < terminGroups.length; i++) {
                const terminGroup = terminGroups[i]
                
                terminGroup.querySelector('.termin-id').name = `Terminy[${i}].TerminId`
                terminGroup.querySelector('.datum-od').name = `Terminy[${i}].Od`
                terminGroup.querySelector('.datum-do').name = `Terminy[${i}].Do`
                
                const pokojeGroups = terminGroup.querySelectorAll('.pokoj-group')
                
                for(let j = 0; j < pokojeGroups.length; j++) {
                    const pokojeGroup = pokojeGroups[j]
                    pokojeGroup.querySelector('.pokoj-typ').name = `Terminy[${i}].PokojeTerminu[${j}].Pokoj.PokojId`
                    pokojeGroup.querySelector('.pokoj-celkovy-pocet').name = `Terminy[${i}].PokojeTerminu[${j}].CelkovyPocetPokoju`
                    pokojeGroup.querySelector('.pokoj-obsazeny-pocet').name = `Terminy[${i}].PokojeTerminu[${j}].PocetObsazenychPokoju`
                }
            }
        })
        
        window.onload = () => {
            @Html.Raw($"changeUbytovani('{Model?.Ubytovani.UbytovaniId ?? ViewBag.Ubytovani[0].UbytovaniId}')")
            
            terminy.forEach(termin => {
                pridatTermin(termin.terminId, termin.od, termin.do)
                
                termin.pokojeTerminu.forEach(pokoj => {
                    const pokojGroup = terminyWrapper.querySelectorAll('.termin-group')

                    pridatPokoj(pokojGroup[pokojGroup.length-1], pokoj.pokoj.pokojId, pokoj.celkovyPocetPokoju, pokoj.pocetObsazenychPokoju)
                })
            })
        }
    </script>
}